<!DOCTYPE html>
<html lang="en">
<form method="post" id="js-modal-form" action="">{% csrf_token %}
<div class="modal" id="js-delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="js-delete-confirmation-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="js-delete-confirmation-label">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <p>Are you sure you would like to delete this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id='no' class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="submit" id='yes' class="btn btn-primary" value="Confirm">Yes</button>
      </div>
    </div>
  </div>
</div>
</form>
</html>
