<h1>Movies</h1>
<a class="btn btn-primary" id="add" href="{% url 'add' %}" role="button">add</a>
<ul>
{% for movie in object_list %}
    <li>{{ movie.title }} ||
        <a class="btn btn-primary" id="view" href="{% url 'detail' movie.id %}" role="button">View</a>
        <a class="btn btn-primary" id="edit" href="{% url 'edit' movie.id %}" role="button">Edit</a>
    </li>
{% empty %}
    <li>No movies yet.</li>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</ul>
