{% extends 'base.html' %}
{% block content %}
<a class="btn btn-primary col-sm-6" id="add" href="{% url 'add' %}" role="button">add</a>
<ul>
{% for movie in object_list %}
<li>{{ movie.title }} <div id="{{ movie.id }}"><span>{{ movie.like }}</span><div>
        <button type="button" class="btn btn-primary js-like-button" data-url="{% url 'like' movie.id %}" data-movie-id="{{ movie.id }}">Like</button>
        <a class="btn btn-primary" id="view" href="{% url 'detail' movie.id %}" role="button">View</a>
        <a class="btn btn-primary" id="edit" href="{% url 'edit' movie.id %}" role="button">Edit</a>
        <button type="button" class="btn btn-warning js-soft-delete" data-url="{% url 'delete' movie.id %}">Delete</button>
    </li>
    <!-- Modal -->
    {% include 'app/modal.html' %}
{% empty %}
    <li>No movies yet.</li>
{% endfor %}
    <!-- Pagination -->
    {% include 'app/pagination.html' %}
</ul>
{% endblock %}

{% block javascript %}
    {% include 'custom_javascript.js' %}
{% endblock %}
